<%= image_tag'gude.jpg' ,size: '64x48'%>
<p class="side_text">グデ子　@takushiam</p>
<p>花火!</p>
<%= image_tag'hanabi.jpg' ,size: '320x240'%><br>
<p>いい感じに撮れた！イェーイ✌️</p><br>


<div style="word-spacing:30px;">
<div style="color:gray">
<span>.｡oOコメント</span>
<span>⇄RT</span>
<span>✌︎いいね</span>
<span>↑共有︎</span>
</div>
</div>