
.contentA,.contentB{
 width: 50%;
 height: 100px;
}
 
.contentA{
 float: left;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}
 
.contentB{
 float: right;
}
 
footer{
 clear: both;
}


.border-radius {
  width: 60px;
  height: 30px;
  line-height: 30px;
  background-color: #C0C0C0;
  border-radius: 100vh;
  color: black;
  text-align: center;
}

.border-radiuss {
  width: 110px;
  height: 30px;
  line-height: 30px;
  background-color: #44FFFF;
  border-radius: 100vh;
  color: black;
  text-align: center;
}






p,figure {
  margin-bottom: 20px;
  text-align: center;
}
 
@media screen and (min-width: 750px) {
 
  p,figure {
    margin-bottom: 0;
    text-align: left;
  }
 
  figure.side_image {
    display: inline-block;
  }
 
  p.side_text {
    display: inline-block;
    width: 300px;
    margin-left: 20px;
    vertical-align: top;
  }
 
}